<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}  

<!-- Youtube Search Form -->
<div class="card my-4">
  <h4 class="card-header">Youtube Search</h4>
  <div class="card-body">
    <form action="{% url 'search:index' %}" method='POST'>
      
      {% csrf_token %}

      <div class="form-row align-items-center">
        <div class="col-10">
          <input type="text" name="search-input" class="form-control mb-2" placeholder="Search" value="{% firstof search_input %}" required autofocus>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>


<!-- About -->
<div class="card my-4">
  <h5 class="card-header">About</h5>
  <div class="card-body">
    This website is for those who want to search and download Youtube songs in mp3.<br><br>
    There are already many websites from where you can do that but they all requires a url.<br><br>
    Here, you can search and download your songs.
  </div>
</div>
<div class="alert alert-danger">
  <strong>As this is free service, download is limited to songs with length less than 10 min. to avoid overuse of resources</strong>
</div>
<div class="alert alert-info">
  For any queries <strong><a href="{% url 'search:contact' %}" class="">Contact Us</a></strong>
</div>

{% endblock body_block %}


{% block sidebar %}
  {% with sidebar_search=True %}
    {{ block.super }}
  {% endwith %}
{% endblock sidebar %}